@import './_variables/variables'

.main-container
    height: 90vh
    width: 100vw
    display: flex
    flex-direction: column
    justify-content: space-between

.nav-container
    // width: 100%
    padding: 1rem
    .nav
        display: flex
        align-items: center
        justify-content: space-between
        a
            text-decoration: none
            color: $color-secondary
        .nav-item-column
            display: flex
            flex-direction: column
            font-size: 0.8rem
        .nav-item
            display: flex
            align-items: center
            gap: 0.5rem
            padding: 0.5rem
            border-radius: 10px
            transition: all 0.3s ease
            &:hover
                background: $color-tertiary
            span
                // font-family: $font-heading
                font-size: 1.2rem
                font-weight: 600
            img
                width: 2rem
                height: 2rem
                border-radius: 50%
        .nav-item-btn
            display: flex
            align-items: center
            gap: 0.5rem
            font-size: 0.8rem
            background: $color-secondary
            color: $color-primary
            padding: 0.5rem 1rem
            border-radius: 50px
            transition: all 0.3s ease
            &:hover
                transform: translateY(-0.2rem)
        .nav-item-v
            display: flex
            flex-direction: column
            transition: all 0.3s ease
            padding: 0.5rem
            border-radius: 10px
            &:hover
                transform: translateY(-0.5rem)
                background: $color-tertiary
            .sub-text
                font-size: 0.8rem
            .text
                font-size: 1rem

.heading-container
    display: flex
    align-items: center
    justify-content: center
    padding: 6rem 0
    .heading
        font-family: $font-heading
        font-size: 6rem
        text-align: center

.container-box
    padding: 0 1rem
    // background: #000
    .container
        display: flex
        align-items: center
        justify-content: space-evenly
        .item
            display: flex
            flex-direction: column
            align-items: center
            font-weight: 600
            img
                width: 400px
                object-fit: cover
        .left
            display: flex
            gap: 1rem
            .col
                display: flex
                flex-direction: column
                gap: 1rem
                a
                    text-decoration: none
                    color: $color-secondary
                    display: flex
                    align-items: center
                    gap: 0.5rem
                    padding: 0.5rem
                    border-radius: 10px
                    transition: all 0.3s ease
                    &:hover
                        transform: translateY(-0.2rem)
                        background: $color-tertiary
        .right
            img
                width: 400px
                object-fit: cover

        .card-container
            width: 100%
            .card-box
                display: flex
                flex-direction: column
                gap: 2rem
                padding: 1rem 0
                // background: #000
                .heading
                    font-size: 2rem
                    font-weight: 600
                .cards
                    display: flex
                    // align-items: flex-start
                    flex-wrap: wrap
                    gap: 2rem
                    // width: fit-content
                    // margin: 0 auto
                    // background: #000
.card
    width: 22%
    display: flex
    flex-direction: column
    justify-content: space-between
    // border: 1px solid $color-tertiary
    gap: 0.5rem
    img
        height: 250px
        width: 100%
        object-fit: cover
    .card-body
        // padding: 1rem
        display: flex
        flex-direction: column
        gap: 0.5rem
        .title
            font-size: 1.2rem
            font-weight: 600
        .description
            color: #868686
    a
        text-decoration: none
        color: $color-secondary
        display: flex
        align-items: center
        gap: 0.2rem
        &:hover
            text-decoration: underline

.menu
    width: 100vw
    padding: 6rem 0
