@import './_variables/variables'

.nav-container
    padding: 1rem
    .nav
        display: flex
        align-items: center
        justify-content: space-between
        a
            text-decoration: none
            color: $color-secondary
        .nav-item-column
            display: flex
            flex-direction: column
            font-size: 0.8rem
        .nav-item
            display: flex
            align-items: center
            gap: 0.5rem
        .nav-item-btn
            display: flex
            align-items: center
            gap: 0.5rem
