@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
.main-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container {
  padding: 1rem;
}
.nav-container .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container .nav a {
  text-decoration: none;
  color: #1C1C1C;
}
.nav-container .nav .nav-item-column {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}
.nav-container .nav .nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.nav-container .nav .nav-item:hover {
  background: #dadada;
}
.nav-container .nav .nav-item span {
  font-size: 1.2rem;
  font-weight: 600;
}
.nav-container .nav .nav-item img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.nav-container .nav .nav-item-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  background: #1C1C1C;
  color: #ebebeb;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.nav-container .nav .nav-item-btn:hover {
  transform: translateY(-0.2rem);
}
.nav-container .nav .nav-item-v {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  padding: 0.5rem;
  border-radius: 10px;
}
.nav-container .nav .nav-item-v:hover {
  transform: translateY(-0.5rem);
  background: #dadada;
}
.nav-container .nav .nav-item-v .sub-text {
  font-size: 0.8rem;
}
.nav-container .nav .nav-item-v .text {
  font-size: 1rem;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
}
.heading-container .heading {
  font-family: "Abril Fatface", cursive;
  font-size: 6rem;
  text-align: center;
}

.container-box {
  padding: 0 1rem;
}
.container-box .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container-box .container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.container-box .container .item img {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-box .container .left {
  display: flex;
  gap: 1rem;
}
.container-box .container .left .col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-box .container .left .col a {
  text-decoration: none;
  color: #1C1C1C;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.container-box .container .left .col a:hover {
  transform: translateY(-0.2rem);
  background: #dadada;
}
.container-box .container .right img {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-box .container .card-container {
  width: 100%;
}
.container-box .container .card-container .card-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
}
.container-box .container .card-container .card-box .heading {
  font-size: 2rem;
  font-weight: 600;
}
.container-box .container .card-container .card-box .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dadada;
  border-radius: 10px;
}
.card img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card .card-body .title {
  font-size: 1.2rem;
  font-weight: 600;
}
.card .card-body .description {
  color: #868686;
}
.card a {
  padding: 0 1rem 1rem 1rem;
  text-decoration: none;
  color: #1C1C1C;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.card a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=App.css.map */